### INPUT ###
<Input>
  inputFile    /Users/deguio/Desktop/HGCAL/Analysis/ntuples.nosync/mu150_newDigi_v1/muGun_NTU_*.root
  outputFolder /Users/deguio/Desktop/HGCAL/Analysis/ParticleGunAnalysis/TEST/

</Input>

### CUTS ###
<Cuts>
</Cuts>


### PARAMS ###
<Params>
  #select subdet
  detectorIndex 2

  #undoNonLin 1

  gevPerMip     0.0005 #500 KeV
  mipRange      68.5   #MIPs
  nAdcBits      10

</Params>

### PLOTTING ###
<Plot>
</Plot>
